.bg-img {
    position: relative;
    top: 40px;
    background-image: url("./../img/main.png");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#euresi_diadromis {
    position: relative;
    left: 100px;
    /* top: 50px; */
    margin: 20px;
    width: 350px;
    height: 400px;
    padding: 16px;
    background-color: rgb(29, 116, 187);
    /* opacity: 100%; */
    border-radius: 5px;
}

#euresi_diadromis label {
    color: white;
}

#switch-icon {
    width: 25px;
    height: 30px;
    position: absolute;
    top: 96px;
    left: 300px;
}

#switch-icon:hover {
    cursor: pointer;
}

#switch-icon img {
    width: 25px;
    height: 30px;
    position: relative;
}

#wheelchair_icon {
    width: 20px;
    height: 20px;
    position: relative; left: 5px; bottom: 5px;
}

#toggle-buttons label{
    background-color: rgb(83, 156, 216);
    /* border: none; */
}

#toggle-buttons .active {
    background-color: rgb(34, 60, 82) !important;
    /* box-shadow: none; */
}

#route-search-icon {
    width: 16px;
    height: 20px;
    margin-left: 5px;
}

#submit-button {
    background-color: rgb(83, 156, 216);
    border: none;
}

#submit-button:hover {
    background-color: rgb(34, 60, 82);
}

#amea {
    margin-top: 6px;
}

#my-index-menu a {
    margin-top: 15px;
    margin-bottom: 15px;
}

.grid-item {
    height: 150px;
}

.grid-item .my-image {
    width: 240px;
    height: 160px;
    margin-left: 15px;
    margin-right: 15px;
}

.grid-item {
    height: 190px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 15px;
    border: 1px solid rgb(236, 236, 236);
    background-color: rgb(250, 250, 250);
    /* border-radius: 10px; */
    transition: 0.15s;
}

.grid-item:hover {
    background-color: rgb(83, 156, 216);
}

.grid-item img {
    width: 240px;
    height: 160px;
    margin-left: 15px;
    margin-right: 15px;
}

.grid-item h4 {
    max-width: 200px;
    color: rgb(83, 156, 216);
}

.grid-item p {
    max-width: 200px;
    color: black;
    font-size: 15px;
}

#my-index-menu a:hover {
    text-decoration: none;
}

#my-index-menu a:hover h4, a:hover p {
    color: white;
}
